* {
    box-sizing: border-box;
    text-align: center;
  }

.header
{
    position: absolute;
    height:  11.23%;
    width: 100%;
    background: #ffffff;
    margin: 0;
    top: 0;
    left: 0;

}

.left-logo-area
{
    position: relative;
    height:100%;
    width:15.61%;
    top:0;
    background: #ffffff;
    float: left;
}

.main-logo
{
    position: relative;
    height: 100%;
    width: 17.7%;
    background: #4aaaa5;
    top: 0;
    float: left;
    color: white;
}

.main-logo-text
{
    position: relative;
    height: 100%;
    width: 100%;
    padding: 30px;
    font-size: 28px;
}

.right-logo-area
{
    position: relative;
    height: 100%;
    width: 32.5%;
    float: left;
    background: #ffffff;
}

.about-link
{
    position: relative;
    height: 100%;
    width:5.45%;
    float: left;
    background: #ffffff;
}

.about-link-text
{
    padding: 30px;
    font-size: 14px;
}

.portfolio
{
    position: relative;
    height: 100%;
    width: 7.43%;
    float: left;
    background: #ffffff;
}

.portfolio-text
{
    padding: 30px;
    font-size: 14px;
}

.contact
{
    position: relative;
    height: 100%;
    width: 6.64%;
    float: left;
    background: #ffffff;
}

.contact-text
{
    padding: 30px;
    font-size: 14px;
}

.contact-right
{
    position: relative;
    height: 100%;
    width: 14.58%;
    float: left;
    background: #ffffff;
}
/* 
width 957
height 497
*/
.main-header
{
    position: absolute;
    top: 16%;
    bottom: 93.8%;
    left: 15.61%;
    right:84.38%;
    width: 68.77%;
    height: 77.6%;
    background: #333;
}

.main-header-header
{
    position: relative;
    top:0;
    left:0;
    width: 100%;
    height: 20.32%;
    background: blue;
}

.main-header-header-text
{
    float: left;
}

.main-body
{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 80.68%;
}

#main-body-top-border
{
    position: relative;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 06%;
}

#main-body-left-border
{
    position: relative;
    top:0%;
    left: 0%;
    width: 3.1%;
    height: 100%;
    float: left;
}

.main-body-image
{
    position: relative;
    top: 0;
    left: 0;
    width: 20.89%;
    height: 30.18%;
    float: left;
}

.profile-picture
{
    width: 100%;
    height: 100%;
}

.main-text
{
    position: relative;
    top: 0;
    left: 0; 
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
  }